---
layout: default
title: Ciara Oberman Designs
---

<div id="main-grid">

    <div id="overlay-container">
        <h3 id="overlay-img-title"></h3>
        <figure class="overlay">
            <img id="overlay-img" data-src="assets/img/artboard.jpg" alt="">
        </figure>
          <p id="overlay-img-text"></p>
    </div>

    {% include header.html %}

    <main id="imgs">
      {% include gallery.html %}
    </main>

    {% include footer.html %}

</div>
<script src="main.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
