/*
font-family: 'Playfair Display', serif;
font-family: 'Playfair Display SC', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/

/* Grid setup */

html {
    height: 100vh;
}

body {
    min-height: 100vh;
}

a {
    cursor: pointer;
}

#main-grid {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas: "header"
                         "main"
                         "about";
}

#header {
    grid-area: header;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 2;
}

#imgs {
    grid-area: main;
    display: grid;
    grid-template-rows: repeat(14, 30em);
    margin-top: 15em;
}

#about-me {
    grid-area: about;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/* Header */

#header {
    border-bottom: 1px solid black;
/*    box-shadow: 0px 1px 1px #aaa;*/
}

#head-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    margin-bottom: 2em;
}

.logo > * {
    margin: 0;
}

.logo h1, h3 {
      border-bottom: 3px solid #AE8447;
}

.logo h1 {
    font-family: 'Playfair Display', serif; 
  
    font-size: 4em;
}

.logo h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;
    font-weight: 300;
}

#logo-link {
    
}

/* Nav */

#desktop-nav, #list-nav {
    font-family: 'Playfair Display SC', serif;
}

#header a {
    color: black;
    text-decoration: none;
}

#desktop-nav {
    display: none;
}

#list-nav {
    transition: 0.4;
}

.hide-nav {
     display: none;
}

.show-nav {
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: 2em;
}


.hamburger {
    height: 5px;
    margin-bottom: 15px;
    width: 5em;
    background-color: black;
    transition: 0.4s;
}

.change #bar1, #bar-close-1{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change #bar2 {
     opacity: 0;
}

.change #bar3, #bar-close-2 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/* Main images */


.gal-img, #overlay-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gal-img {
    opacity: 1;
    transition: 1s;
}

.show-overlay {
    display: flex !important;
}

#overlay-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, .8);
    height: 100vh;
    width: 100vw;
    z-index: 2;
    display: none;
}

img[data-src] {
    opacity: 0;
}

#overlay-img-title, #overlay-img-text {
    color: white;
    margin: 0 0 1em 0;
}

#overlay-img-title {
    font-size: 6em;
    border: none;
}

#overlay-img-text {
    font-size: 2.5em;
    font-family: 'Roboto', sans-serif;
    margin: 0 1em;
    text-align: center;
}

.img-overlay:hover {
    visibility: hidden;
}

 .img-overlay {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 0;
        transition: .4s;
        visibility: hidden;
        opacity: 0;
        overflow: hidden;
    }

/* About */

#about-me h3 {
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    font-size: 4em;
    margin: 3em auto 1.5em;
    display: inline-block;
}

#about-img, .about-txt {
    width: 90%;
}

#about-img {
    max-width: 100%;
    margin: 0 auto 4em;
    display: block;
}

.about-txt {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    line-height: 1.5;
    margin: 0 auto 1em;
}

.contact-about {
    font-weight: 700;
}




/* Desktop site */


@media (min-width: 1000px) {
    
    
    
    /* Grid setup */
    #main-grid {
        grid-template-rows: 4em 1fr 1fr;
    }
    
    h3 {
        border-bottom: 2px solid #AE8447;
    }

    
    /*  Header  */
    
    #header {
/*        box-shadow: 0px 1px 6px #333;*/
    }
    
    #head-wrap {
        justify-content: space-between;     
    }
    
    .logo {
        margin-bottom: 1em;  
        margin-left: 4em;
    }
    
    .logo h1 {
        font-size: 2em;
        border-bottom: 1px solid #AE8447;
    }
    
    .logo h2 {
        font-size: .8em
    }
    
    
    /* Nav */
    
    .hamburger {
        display: none;
    }
    
    #desktop-nav {
        display: flex;
        list-style: none;
        justify-content: space-around;
        font-size: 1.2em;
        margin-right: 4em
    }
    
    #desktop-nav li {
        margin-right: 0 auto;
        font-size: .8em;
    }
    
    #desktop-nav a {
        margin-right: 3em;
        color: black;
        text-decoration: none;
        padding: .5em .7em;
        transition: .05s;
    }
    
    #desktop-nav a:hover {
        background-color: #AE8447;
        color: white;
        border-radius: 5px;
    }
    
    .show-nav {
        display: none;
    }
    
     /* Images */
    
    #imgs {
        display: grid;
        margin: 0 auto;
        grid-template-rows: 30em repeat(3, 15em) 30em repeat(2, 15em);
        grid-template-columns: 1fr 1fr 1fr;
        width: 80%;
    }
    
    .gal-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .gal-item {
        position: relative;
        cursor: pointer;
    }
    
    .gal-items-1, .gal-items-11 {
        grid-column-start:  1;
        grid-column-end: 4; 
    }
    
    /* Image overlay */
    
    #overlay-img {
        width: 70%;
        margin: auto;
    }
    
    #overlay-img:hover {
        cursor: pointer;
    }
    
    .overlay {
        display: flex;
    }
    
    #overlay-img-title {
        font-size: 3em;
        margin-top: 1.5em;
        margin-bottom: 0;
    }

    #overlay-img-text {
        font-size: 1em;
    }
    
    
    .gal-item:hover > .img-overlay {
        background-color: rgba(0, 0, 0, .7);
        visibility: visible;
        bottom: 0;
        height: 5em;
        opacity: 1;
    }

    
    .img-overlay:hover {
        cursor: default;
    }
    
    .img-overlay h3, .img-overlay p {
        margin: 0 0 0 1rem;
    }
    
    .img-overlay h3 {
        font-family: 'Playfair Display', serif;
        margin-bottom: .5em;
        padding-top: 1em;
        align-self: flex-start;
        color: white;
        font-size: 1em;
        font-weight: 400;
        border-bottom: 1px solid #AE8447;
        text-transform: none;
    }
    
    .img-overlay p {
        font-family: 'Roboto', sans-serif;
        font-size: .65em;
        color: #ccc;
    }

    
    /* About me */
    
    #about-me {
        flex-direction: row;
        width: 70%;
        margin: auto;
        align-items: flex-start;
    }
    

    #about-me h3 {
        font-family: 'Playfair Display SC', serif;
        font-size: 2em;
        margin: 0 auto 1.5em;
        display: inline-block;
    }

    #about-me > * {
        flex: 1 0 50%;
    }
    
    #about-me div:first-child {
        flex: 0 1 100% !important;
        text-align: center;
    }

    #about-img {
        width: 70%;
        height: auto;
        margin: 0 auto 4em;
    }

    .about-txt {
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        line-height: 1.5;
    }
}
