---

---

<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta charset="utf-8">
        <!-- <link rel="stylesheet" type="text/css" href="main.css">
        <link rel="stylesheet" type="text/css" href="normalize.css"> -->
        {% for file in site.data.css %}
          <link rel="stylesheet" type="text/css" href="{{ file.link }}">
        {% endfor %}
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC|Playfair+Display:400,700|Roboto+Condensed:300,400|Roboto:400,700" rel="stylesheet">
    </head>
    <body>
        {{ content }}
    </body>
</html>
